html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 700px;
  margin: 0 auto;
  background: white;
  color: black;
}

h1#banner {
  background: white;
  color: black;
}

a {
  color: blue;
}
